{% extends 'tereBundle::layout.html.twig' %}


{% block body %}
	<div class="container margin-top20">
		<div class="row">
		{% if app.user %}
			<div class="col-lg-3">
				<div class="row">
					<div class="col-lg-12 text-center">
						<button type="button" id="start" class="btn btn-success">Start</button>
						<button type="button" id="stop" class="btn btn-info">Stop</button>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<table class="table table-striped table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th>Start</th>
								<th>Stop</th>
								<th>Pracujesz</th>
							</tr>
						</thead>
						<tbody>
						{% for key,time in timer %}
							<tr>
								<td>
									{% if time.start %}
									{{ time.start|date('d-m-Y, G:i:s') }} 
									{% endif %}	
								</td>
								<td>
									{% if time.stop %}
									{{ time.stop|date('d-m-Y, G:i:s') }}
									{% endif %}									
								</td>
								<td>
									{% if getTimes[key]['time'] is defined  %}
										{{ getTimes[key]['time'].h  }} godzin
										{{ getTimes[key]['time'].i  }} minut 
										{{ getTimes[key]['time'].s  }} sekund
									{% else %}
									<span class="finishTime" data-test="{{ time.start|date('M, d, Y G:i:s') }}">
										<strong>Dni:</strong> <span class="days">0</span>
										<strong>Godzin:</strong> <span class="hours">0</span>
										<strong>Minut:</strong> <span class="minutes">0</span>
										<strong>Sekund:</strong> <span class="seconds">0</span>
									</span>									
									{% endif %}

								</td>
							</tr>	
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	{% endif %}			
	</div>
</div>

<div id="countdown"></div>


<div class="" data-time="" ></div>


{% endblock %}