{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}

	<div class="container margin-top20">    
	    <div class="row">
	        <div class="col-lg-9">


				<div class="row">
					<div class="col-lg-12">


						<div role="tabpanel">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" onclick="location.href='{{ path('fos_user_profile_show') }}'" class="active"><a href="" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
							    <li role="presentation" onclick="location.href='{{ path('fos_user_change_password') }}'"><a href="{{ path('fos_user_change_password') }}" aria-controls="password" role="tab" data-toggle="tab">Change password</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">

									{% block fos_user_content %}
									{% trans_default_domain 'FOSUserBundle' %}

										<div class="row">
											<div class="col-lg-4 text-right lineH32 strong margin-top20">Username: </div>
											<div class="col-lg-6 lineH32 margin-top20">{{ user.username }}</div>
										</div>	

										<div class="row">
											<div class="col-lg-4 text-right lineH32 strong margin-top20">Email: </div>
											<div class="col-lg-6 lineH32 margin-top20">{{ user.email }}</div>
										</div>											

									{% endblock fos_user_content %}	


								</div>
							</div>	
						</div>	

					</div>
				</div>	




	        </div>
	        <div class="col-lg-3">a</div>
	    </div>    
	</div>

{% endblock %}