<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="shortcut icon" type="image/x-icon" href='/media/ico.png' />

	{% block title %}
		<title>Snaperr.pl</title>
	{% endblock %}

	{% block meta %}
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<meta property="og:site_name" content="Snajperr.pl" />
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />

		<meta name="twitter:url" content="" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="" />
	{% endblock %}


	<link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300&amp;subset=latin,latin-ext" type="text/css">
    <!-- build:css /css/optimized.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../../../bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../../../../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../../../bower_components/gridly/stylesheets/jquery.gridly.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="../../../../web/css/main.css" />
    <!-- endbuild --> 




</head>
	<body>
	

	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<a href="{{ path('index') }}"><img src="/media/logo.png" alt="kotbazar.pl" /></a>
					</div>



					<div class="col-lg-4 col-lg-offset-6 text-right user">
						<ul>

							{% if app.user %}
								{{ app.user.username }} | {{ app.user.email }} | <a href="{{ path('fos_user_security_logout') }}">wyloguj</a>
							{% else %}	
							<li class="menu"><a href="{{ path('fos_user_security_login') }}" class="btn btn-sea transition"><i class="fa fa-user"></i> Logowanie</a></li>
							<li><a href="{{ path('fos_user_registration_register') }}" class="btn btn-sea-transparent transition">Rejestracja</a></li>
							{% endif %}


							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

		{% block body %}
		{% endblock %}


		<div class="footer">
			<div class="container">
			

				<div class="row">
					<div class="col-lg-4">
						<a href="/" class="logo"><img src="/media/logo.png" alt="kotbazar.pl" /></a>
					</div>
					<div class="col-lg-8 text-right lineH34">
						Wszelkie prawa zastrzeżone © 2015 <a href="" class="transition">Snajperr.pl</a>
					</div>
				</div>
			</div>	
		</div>


	    <!-- build:js /js/optimized.js -->
	    <!-- bower:js -->
	    <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
	    <script src="../../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="../../../../bower_components/gridly/javascripts/jquery.gridly.js"></script>
	    <!-- endbower --> 
	    <script src="../../../../web/js/main.js"></script>
	    <!-- endbuild -->
	</body>
</html>