{% extends 'tereBundle::layout.html.twig' %}

{% block body %}
    <div class="container login">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <h1 class="page page-header">Register confirmed</h1>
            </div>
        </div>
        <div class="row">
            {% block fos_user_content %}

                    {% trans_default_domain 'FOSUserBundle' %}

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
							<div class="alert alert-success" role="alert">
								{{ 'registration.confirmed'|trans({'%username%': user.username}) }}
							</div>                        
                        </div>
                    </div>
                         
                    <div class="row margin-top20">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
						    {% if app.session is not empty %}
						        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
						        {% if targetUrl is not empty %}
						        	<a class="btn btn-orange" href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
						        {% endif %}
						    {% endif %}                   
                        </div>
                    </div>

            {% endblock fos_user_content %}
        </div>
    </div>  
{% endblock %}