{% extends 'tereBundle::layout.html.twig' %}


{#
	{{ form_widget(form) }}
#}


{% block body %}


test 

	<div class="container login">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<h1 class="page page-header">Register</h1>
			</div>
		</div>
		{% block fos_user_content %}
		{% trans_default_domain 'FOSUserBundle' %}

			<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4 text-center">						
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" placeholder="Username" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" pattern=".{2,}" pattern=".{2,}" class="form-control input-bp" >
						</div>	
					</div>						
				</div>					
				<div class="row margin-top20">
					<div class="col-lg-4 col-lg-offset-4 text-center">						
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" placeholder="Email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="form-control input-bp" >
						</div>	
					</div>						
				</div>					
				<div class="row margin-top20">
					<div class="col-lg-4 col-lg-offset-4 text-center">						
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" placeholder="Password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="form-control input-bp" >
						</div>	
					</div>						
				</div>					
				<div class="row margin-top20">
					<div class="col-lg-4 col-lg-offset-4 text-center">						
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" placeholder="Password confirmation" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" class="form-control input-bp" >
						</div>	
					</div>						
				</div>

				<div class="row margin-top20">
					<div class="col-lg-4 col-lg-offset-4 text-center margin-top10">
						<input type="checkbox" value="on" required="required" />
						<label>I understand and accept <a href="#">terms of service.</a></label>
					</div>
				</div>	

				{{ form_widget(form._token) }}
				<div class="row margin-top20">
					<div class="col-lg-4 col-lg-offset-4 text-center">
						<button type="submit" class="btn btn-orange">Sign up</button>
					</div>
				</div>
			</form>
		{% endblock fos_user_content %}
	</div>
{% endblock %}