html, body {
    background-image: url('');
    background-color: #edf0f5;
    height: 100%;
}

/*
 |
 | Sticky footer
 |
 */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -125px;
}
#push, #footer {
    height: auto;
}
#footer {
    background-color: #f5f5f5;
}
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/*
 | ---------------------------------
 | Other
 |----------------------------------
 */

.lineH32 {
    line-height: 32px;
    min-height: 30px;
}
.lineH34 {
    line-height: 39px;
    min-height: 34px;
}
.lineH39 {
    line-height: 39px;
    min-height: 34px;
}
.no-border {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.strong {
    font-weight: bold;
}
.transition {
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.margin-top20 {
    margin-top: 20px !important;
}
.margin-top60 {
    margin-top: 60px !important;
}
.margin-bottom20 {
    margin-bottom: 20px !important;
}

/*
 |
 | Header top
 |
 */

.header {
    width: 100%;
    background-color: #283442;
}
.header-top {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 12px;
}
.header-top img {
    padding-top: 3px;
}
.header-top ul {
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 0px;
}
.header-top ul li {
    float: left;
    list-style: none;
}
.header-top .menu {
    display: block;
    line-height: 40px;
    text-align: center;
    padding-left: 5px;

    margin-top: 0px;
}
.header-top .menu ul li {
}
.header-top .user ul {
    line-height: 40px;
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 0px;
    float: right;
}
.header-top .user ul li {
    margin-left: 20px;

}
.header-top .user ul li:last-child {
    /*border-left: 1px solid #415464;*/
    padding-right: 0px;
}
.header-top .user span {
    color: #768693;
    border-right: 1px solid #415464;
    padding-right: 4px;
}
.header-top .user span i {
    padding-top: 0px;
}
.header-top .user .badge {
    background-color: #31b086;
    color: #fff;
}


/*
 | ---------------------------------
 | Button
 |----------------------------------
 */

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn a:hover {
    text-decoration: none;
}
.btn-sea {
    background-color: #69a3b9;
    border-color: #69a3b9;
    font-size: 13px;
    color: #fff;
}
.btn-sea:hover {
    background-color: #7fb5c1;
    border-color: #7fb5c1;
    color: #fff;
}
.btn-sea-transparent {
    border-color: #69a3b9;
    font-size: 13px;
    color: #69a3b9;
}
.btn-sea-transparent:hover {
    background-color: #7fb5c1;
    border-color: #7fb5c1;
    color: #fff;
}
.btn-dark {
    background-color: #283442;
    border-color: #283442;
    font-size: 13px;
    color: #fff;
}
.btn-dark:hover {
    background-color: #415464;
    border-color: #415464;
}
.btn-dark-transparent {
    font-size: 13px;
    color: #283442;
}
.btn-dark-transparent:hover {
    background-color: #415464;
    border-color: #415464;
    color: #fff;
}



/*
 | ---------------------------------
 | Footer
 |----------------------------------
 */

.footer {
    background-color: #283442;
    color: #fff;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); */
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer a {
    color: #69a3b9;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer .row:nth-of-type(1) {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.footer .row:nth-of-type(2) {
    border-top: 1px solid #415464;
    padding-top: 20px;
    margin-top: 10px;
}
.footer ul {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.footer ul:last-child {
    float: right;
}
.footer ul li {
    float: left;
    list-style: none;
    border-right: 1px solid #415464;
    padding-left: 10px;
    padding-right: 10px;
}
.footer ul li:first-child {
    padding-left: 0px;
}
.footer ul li:last-child {
    border-right: none;
}
.footer .row .col-lg-8 a:first-child {
    border-right: 1px solid #415464;
    padding-right: 15px;
    margin-right: 10px;
}
.footer .logo {
    margin-right: 20px;
}
.footer .fa-stack {
    padding-top: 3px;
}
.footer .social-fb {
    color: #306199;
}
.footer .social-tw {
    color: #26c4f1;
}
.footer .social-gp {
    color: #e93f2e;
}
.footer .social-inst {
    color: #0093b4;
}