{% extends 'tereBundle::layout.html.twig' %}



{% block body %}
	<div class="container login">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<h1 class="page page-header">Logowanie</h1>
			</div>
		</div>
		<div class="row">





			{% block fos_user_content %}




				<form action="{{ path("fos_user_security_check") }}" method="post">
					{% trans_default_domain 'FOSUserBundle' %}
					{% if error %}
						<div class="row">
							<div class="col-lg-4 col-lg-offset-4 text-center">
								<div class="alert alert-danger" role="alert">
									{{ error.messageKey|trans(error.messageData, 'security') }}	
								</div>
							</div>
						</div>
					{% endif %}
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 text-center">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>




								<input type="text" class="form-control input-bp" placeholder="Login" id="username" name="_username" value="{{ last_username }}" required="required" />
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 text-center margin-top20">
							<div class="input-group">
								<span class="input-group-addon bb"><i class="fa fa-lock"></i></span>
								<input type="password" class="form-control input-bp" placeholder="Hasło" id="password" name="_password" required="required" />
							</div>								
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 text-center margin-top10">
							<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
							<label>Zapamiętaj mnie</label>
						</div>
					</div>			
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 text-center  margin-top20">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
							<button type="submit" class="btn btn-orange" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>	
							<a href="{{ path('fos_user_registration_register') }}" class="btn btn btn-graphite strong">Sign up</a>
						</div>
					</div>	

					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 text-center  margin-top20">
							<a href="{{ path('fos_user_resetting_request') }}">Zapomniałeś hasło?</a>
						</div>
					</div>	

				</form>
			{% endblock fos_user_content %}
		</div>
	</div>	
{% endblock %}