{% extends 'tereBundle::layout.html.twig' %}

{% block body %}
    <div class="container login">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <h1 class="page page-header">Resetting password</h1>
            </div>
        </div>
        <div class="row">
            {% block fos_user_content %}

                    {% trans_default_domain 'FOSUserBundle' %}

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
							<div class="alert alert-danger" role="alert">
								{{ 'resetting.password_already_requested'|trans }}
							</div>                        
                        </div>
                    </div>
                         


            {% endblock fos_user_content %}
        </div>
    </div>  
{% endblock %}