{% extends 'tereBundle::layout.html.twig' %}


{% block body %}
    <div class="container login">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <h1 class="page page-header">Resetting password</h1>
            </div>
        </div>
        <div class="row">
            {% block fos_user_content %}
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    {% trans_default_domain 'FOSUserBundle' %}
                    {% if invalid_username is defined %}
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4 text-center">
                                <div class="alert alert-danger" role="alert">
                                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control input-bp" placeholder="Enter Username or Email" id="username" name="username" required="required" />
                            </div>                          
                        </div>
                    </div>
                         
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center  margin-top20">
                            <button type="submit" class="btn btn-orange">{{ 'resetting.request.submit'|trans }}</button>   
                        </div>
                    </div>  
                </form>
            {% endblock fos_user_content %}
        </div>
    </div>  
{% endblock %}