{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}

	<div class="container margin-top20">    
	    <div class="row">
	        <div class="col-lg-9">


				<div class="row">
					<div class="col-lg-12">

						<div role="tabpanel">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" onclick="location.href='{{ path('fos_user_profile_show') }}'"><a href="" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
							    <li role="presentation" onclick="location.href='{{ path('fos_user_change_password') }}'"  class="active"><a href="{{ path('fos_user_change_password') }}" aria-controls="password" role="tab" data-toggle="tab">Change password</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="password">
									{% block fos_user_content %}
									{% trans_default_domain 'FOSUserBundle' %}
									<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

										<div class="row">
											<div class="col-lg-4 text-right lineH32 strong margin-top20">Current password: </div>
											<div class="col-lg-6 margin-top20">{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}</div>
										</div>	

										<div class="row">
											<div class="col-lg-4 text-right lineH32 strong margin-top20">New password: </div>
											<div class="col-lg-6 margin-top20">{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</div>
										</div>	

										<div class="row">
											<div class="col-lg-4 text-right lineH32 strong margin-top20">Repeat new password: </div>
											<div class="col-lg-6 margin-top20">{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</div>
										</div>	

										{{ form_widget(form._token) }}

										<div class="row">
											<div class="col-lg-8 col-lg-offset-4">
												<button type="submit" class="btn btn-orange strong margin-top20">Submit</button>
											</div>
										</div>





									</form>
									{% endblock fos_user_content %}	
								</div>
							</div>
						</div>

					</div>
				</div>	



	        </div>
	        <div class="col-lg-3">a</div>
	    </div>    
	</div>






{% endblock %}